/* stylesheet for the register page template */

/* alert classes */
.pai-alert-container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 130px;
    left: 0;
    right: 0;
    z-index: 999;
}

.alert-danger {
    display: none;
    width: 300px;
}

.alert-danger p {
    margin-bottom: 0;
}

/* window classes */
.window {
    display: none;
    flex-direction: column;
}

.window.active {
    display: flex;
}

/* window title classes */
.pai-title-container {
    margin: 0 auto;
}

.pai-window-title {
    margin-bottom: 20px;
    color: #1a2d5d;
    font-family: "Times New Roman";
    font-weight: bold;
}

.pai-window-title.bold {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.pai-window-subtitle {
    margin-bottom: 50px;
    color: #666666;
    font-size: 18px;
}

.pai-window-info {
    margin-bottom: 30px;
    color: #d11242;
    font-size: 1.3rem;
}

.pai-form-group {
    min-height: 100px; /* Compensates for the invalidation msg */
}

.pai-fields {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 40px;
}

.pai-form-label {
    color: #666666;
    font-weight: bold;
}

.pai-form-control {
    border-radius: 0;
}

.form-control.is-invalid {
    border-width: 2px;
}

.invalid-feedback {
    font-weight: bold;
}

/* checkbox classes */
.pai-checkbox-container {
    position: relative;
    display: block;
    padding-left: 45px;
    margin-bottom: 30px;
    cursor: pointer;
    user-select: none;
}

.pai-checkbox-container input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.pai-checkbox-container:hover input ~ .pai-checkmark {
    background-color: #cccccc;
}

.pai-checkbox-container input:checked ~ .pai-checkmark {
    background-color: #666666;
}

.pai-checkbox-container input:checked ~  .pai-checkmark:after {
    content: "";
    top: 2px;
    left: 7px;
    width: 9px;
    height: 18px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.pai-checkmark {
    position: absolute;
    top: 5;
    left: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #000000;
    background-color: #eeeeee;
}

.pai-checkmark:after {
    content: "";
    position: absolute;
    display: block;
}

.pai-checkbox-header {
    color: #1a2d5d;
    font-size: 23px;
    font-weight: bold;
}

.pai-checkbox-content {
    color: #666666;
    font-size: 18px;
}

li > span.pai-checkbox-content {
    font-weight: normal;
}

.pai-checkbox-content.small-margin {
    margin-bottom: 5px;
}

.pai-checkbox-content.bold {
    font-weight: bold;
}

ol.pai-checkbox-content.bold {
    padding-left: 20px;
}

ol.pai-checkbox-content li {
    margin-left: 40px;
    padding-left: 20px;
}

.pai-in-between-list {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: #666666;
    font-size: 23px;
}

/* btn classes */
.pai-btn {
    display: flex;
    justify-content: center;
    width: 130px;
    margin: 0 auto;
    border-radius: 0;
    background-color: #0596d5;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.pai-btn:hover {
    background-color: #1a2d5d;
    color: #ffffff;
}

/* indicator classes */
.pai-indicators {
    display: flex;
    align-items: center;
    max-width: 220px;
    padding: 0 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.pai-step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 90px;
    background-color: #eaeaea;
}

.pai-step.active {
    background-color: #666666;
}

.pai-step-sep {
    width: 60px;
    background-color: #cccccc;
}

/* responsiveness */
@media screen and (max-width: 900px) {

    .pai-col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .pai-fields {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 575px) {

    .pai-window-title.bold {
        font-size: 26px;
    }

    .pai-window-subtitle {
        font-size: 14px;
    }

    .pai-checkbox-header {
        font-size: 18px;
    }

    .pai-checkbox-content {
        font-size: 16px;
    }

    .pai-in-between-list {
        font-size: 18px;
    }

    ol.pai-checkbox-content li {
        margin-left: 0;
        padding-left: 0;
    }
}
